Repository Mauwii/django_devops: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/publish_docs.yml, pipelines/validate_pr.yml

pipelines/publish_docs.yml:

# specific path build
trigger:
  branches:
    include:
    - main
  paths:
    include:
    - docs
    - mkdocs.yml

pool:
  vmImage: ubuntu-latest

resources:
  repositories:
    - repository: 'self'
      type: 'github'
      endpoint: 'Mauwii'
      name: 'mauwii/django_devops'

steps:

  - checkout: self
    submodules: 'true'
    persistCredentials: 'true'

  - task: UsePythonVersion@0
    displayName: 'Use Python 3.9.x'
    inputs:
      versionSpec: '3.9'
      addToPath: true
      architecture: 'x64'
  
  - task: Bash@3
    displayName: 'Install MkDocs'
    inputs:
      targetType: 'inline'
      script: 'pip install -e mkdocs-material'
  
  - task: Bash@3
    displayName: 'Build mkdocs'
    inputs:
      targetType: 'inline'
      script: 'mkdocs build'

  - task: Bash@3
    displayName: 'Deploy to GitHub-Pages'
    inputs:
      targetType: 'inline'
      script: 'mkdocs gh-deploy --force --clean'

pipelines/validate_pr.yml:

pr:
  drafts: true
  autoCancel: false
  paths:
    include:
      - pipelines
      - azure-pipelines.yml

variables:
  - group: django_gh
  - group: django-dev

pool:
  vmImage: ubuntu-latest

stages:

  - stage: ValidateBicep
    dependsOn:
    displayName: Bicep Validation
    jobs:
      - template: validate_bicep.yml

  - stage: BuildWebApp
    dependsOn:
    displayName: Build Web App
    jobs:
      - job: BuildWebApp
        displayName: Build Web App
        variables:
          - group: django-superuser
        steps:
          - checkout: self
            submodules: true
            persistCredentials: true
          - template: build_webapp.yml
          - template: run_tests.yml

  # - stage: RunTests
  #   dependsOn: BuildWebApp
  #   displayName: Run Tests
  #   jobs:
  #     - job: RunTests
  #       displayName: Run Django Tests
  #       variables:
  #         - group: django-dev
  #       steps:
  #         - checkout: self
  #           submodules: true
  #         - template: run_tests.yml

Deployed a0b51f5 with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

Deployed 4a3d00c with MkDocs version: 1.3.0
  sitemap.xml.gz
Due: none

updated .prettierrc
  .prettierrc
Due: none

formated all pipelines with prettier
  azure-pipelines.yml
  pipelines/build_webapp.yml
  pipelines/deploy_webapp.yml
  pipelines/examples/cancel_jobs.yml
  pipelines/examples/secure_files.yml
  pipelines/examples/use_output.yml
  pipelines/publish_artifact.yml
  pipelines/publish_docs.yml
  pipelines/validate_bicep.yml
  pipelines/validate_pr.yml
  pipelines/workitem_poster.yml
Due: pipelines/validate_pr.yml

switch to yaml format for prettierrc
  .prettierrc
  .prettierrc.yaml
Due: none

format mkdocs with prettier
  mkdocs.yml
Due: pipelines/publish_docs.yml

- update vscode settings - add azure-pipelilnes-schema - add extensions
  .vscode/azure-pipelines-schema.json
  .vscode/extensions.json
  .vscode/settings.json
Due: none

update pipeline triggers also - moved workitem_poster.yml to examples - updated Repository README.md - updated docs/todo/index.md with better Git Graph
  README.md
  azure-pipelines.yml
  docs/todo/index.md
  pipelines/examples/workitem_poster.yml
  pipelines/publish_docs.yml
  pipelines/validate_pr.yml
Due: pipelines/publish_docs.yml, pipelines/validate_pr.yml

add condition to tasks in build_artifact template it should only build and publish artifacts for stable branch
  pipelines/publish_artifact.yml
Due: pipelines/validate_pr.yml

try to checkout only mkdocs-material submodule
  pipelines/publish_docs.yml
Due: pipelines/validate_pr.yml

Deployed d61e9f6 with MkDocs version: 1.3.0
  index.html
  search/search_index.json
  sitemap.xml.gz
  todo/index.html
Due: none

publish docs only for stable branch
  pipelines/publish_docs.yml
Due: pipelines/validate_pr.yml

dont autocancel validate_pr
  pipelines/validate_pr.yml
Due: pipelines/validate_pr.yml

prepare merge of the three pipelines - add condition to create resources and deploy app - update only necesarry submodules
  azure-pipelines.yml
Due: pipelines/validate_pr.yml

re-add main branch trigger to validate_pr
  pipelines/validate_pr.yml
Due: pipelines/validate_pr.yml

Deployed 1fab443 with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

exclude feature/experimental/* from validate_pr
  pipelines/validate_pr.yml
Due: pipelines/validate_pr.yml

updated and restructured pipelines
  azure-pipelines.yml
  pipelines/build_webapp.yml
  pipelines/experimental.yml
  pipelines/jobs/validate_bicep.yml
  pipelines/steps/build_webapp.yml
  pipelines/steps/build_webapp_experimental.yml
  pipelines/steps/checkout_submodules.yml
  pipelines/steps/deploy_bicep.yml
  pipelines/steps/deploy_webapp.yml
  pipelines/steps/publish_artifact.yml
  pipelines/steps/run_tests.yml
  pipelines/validate_pr.yml
  templates/main.experimental.bicep
Due: pipelines/validate_pr.yml

add example for variables
  pipelines/examples/variables.yml
Due: pipelines/validate_pr.yml

updated variables
  pipelines/steps/run_tests.yml
  pipelines/validate_pr.yml
Due: pipelines/validate_pr.yml

update experimental and checkout_submodule
  azure-pipelines/experimental.yml
  azure-pipelines/steps/checkout_submodules.yml
Due: none

include branch of django_webapp in .gitmodules
  .gitmodules
Due: none

fixed submodule parameter in pipelines added parameter to update submodule of mkdocs-material
  azure-pipelines.yml
  azure-pipelines/experimental.yml
  azure-pipelines/steps/build_mkdocs.yml
  azure-pipelines/steps/checkout_submodules.yml
Due: pipelines/validate_pr.yml

add parameter to template-call ... ...which sets update_submodule for BuildDocs to false
  azure-pipelines/experimental.yml
Due: none

fix checkout_submodule
  azure-pipelines/steps/checkout_submodules.yml
Due: none

updated build_mkdocs to use parameter
  azure-pipelines/steps/build_mkdocs.yml
Due: none

fix experimental.yml moce checkout of submodules into build-jobs
  azure-pipelines/experimental.yml
Due: none

fixed wrong dependency in experimental
  azure-pipelines/experimental.yml
Due: none

renamed jobs in experimental
  azure-pipelines/experimental.yml
Due: none

some kind of update to documentation
  README.md
  docs/todo/ideas.md
  docs/todo/index.md
  docs/todo/workflow.md
Due: pipelines/publish_docs.yml

another update to README.md
  README.md
Due: none

and another update to the README.md
  README.md
Due: none

Deployed 72969cf with MkDocs version: 1.3.0
  sitemap.xml
  sitemap.xml.gz
Due: none

fix stagename in experimental.yml
  azure-pipelines/experimental.yml
Due: none

Update azure-pipelines.yml for Azure Pipelines
  azure-pipelines.yml
Due: pipelines/validate_pr.yml

run azure-pipelines.yml in feature-branch
  azure-pipelines.yml
Due: pipelines/validate_pr.yml

add missing parameters
  azure-pipelines.yml
Due: pipelines/validate_pr.yml

move parameters to right template
  azure-pipelines.yml
Due: pipelines/validate_pr.yml

remove dependency from CreateResources stage
  azure-pipelines.yml
Due: pipelines/validate_pr.yml

add stage trigger for main branch
  azure-pipelines.yml
Due: pipelines/validate_pr.yml
